<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>

    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <p>About the creater</p>
      <h2>Aadesh Wasamkar</h2>
    </div>
    <img src="./img/Aadesh33.jpg" />
    {{>footer}}
  </body>
</html>